{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Credit card data</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in creditCards %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>Encrypted credit card data - {{ loop.index }}</td>
                            <td>
                                <a href="{{ path('credit_card_edit', { creditCard: item.id}) }}">Edit</a>
                                <a href="{{ path('credit_card_delete', { creditCard: item.id}) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}